body {
    margin :0px;
}

#profil {
    height:100vh;
    display: flex;
    background-color: #e27d60;
    flex-direction: column;
}



#photo_profil {
    clip-path: circle(30%);
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 70%;

}

#profil h1 {
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size:200%;
}

#about-me {
    min-height: 100vh;
    display: flex;
    background-color: #85dcb8;;
    border-top: 0px;
    flex-direction: column;
    flex-wrap: wrap;
}

#about-me h1 {
    margin: 0px;
    padding:30px;
    font-size:300%;
}

#about-me p {
    margin:10px;
    margin-left: 30px;
    font-size: 150%;
}

#interest {
    min-height: 100vh;
    background-color: #E8A87C;
    border-top: 0px;
    display:flex;
    flex-direction: column;
}

#interest h1 {
    margin: 0px;
    padding:30px;
    font-size:300%;
}

#skill-education {
    min-height: 100vh;
    display: flex;
    background-color: #C38D9E;
    border-top: 0px;
    flex-direction: column;
}

#skill-education h1{
    margin: 0px;
    padding:30px;
    font-size:300%;
}

#contact {
    min-height: 100vh;
    display: flex;
    background-color: #41B3A3;
    border-top: 0px;
    flex-direction: column;
}

#contact h1 {
    margin: 0px;
    padding:30px;
    font-size:300%;
}

#interest-main {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.interest-content img {
    height: 300px;
}

.interest-content{
    font-size: 70% ;
    
}


#web {
    text-align: center;
}

#data {
    text-align: center;
}

#ai {
    text-align: center;
}

#skill-main {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;

}

.skill-content img {
    height: 200px;
}

#html {
    text-align: center;
}

#css {
    text-align: center;
}

#data-mining {
    text-align: center;
}

#python {
    text-align: center;
}

#contact-main {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
}

.contact-content img{
    height: 200px;
}